<% include ../head.ejs %>

<div class="container">

    <table class="responsive">
        <thead>
        <tr>
            <th>Site</th>
            <th>URL</th>
            <th>Uptime</th>
        </tr>
        </thead>
        <tbody>
        <% monitors.map(function(monitor){ %>
        <tr>
            <td><a href="/site/<%- monitor.id %>"><%- monitor.name %></a></td>
            <td><%- monitor.url %></td>
            <% var percent = monitor.upPercent + '%' %>
            <td><span class="graph" style="width:<%- percent %>"><%- percent %></span></td>
        </tr>
        <% }); %>
        </tbody>
    </table>

    <a href="/new" class="button icon pull-right">+</a>


</div>

<% include ../foot.ejs %>