<% include ../head.ejs %>

<div class="container">

    <h1 class="center"><%- monitor.name %></h1>

    <canvas id="myChart" width="100%" height="400"></canvas>

    <script src="/components/chart.js/dist/Chart.min.js"></script>
    <script>

        var responses = JSON.parse('<%- JSON.stringify(monitor.responses) %>');

        var labels = []
        var data = {
            labels: labels,
            datasets: [{
                data: data,
            }]
        };

        responses.map(function (r) {
            data.datasets[0].data.push(r.time)
            data.labels.push(r.date)
        });

        var ctx = document.getElementById("myChart");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {}
        });
    </script>

    <img src="/site/<%- monitor.id %>/badge">
    <div>
        <label for="md-badge">Markdown Badge</label>
        <input type="text"
               value="[![RUUP Badge](http://ruup.online/site/<%- monitor.id %>/badge)](http://ruup.online/site/<%- monitor.id %>)"
               id="md-badge"
               name="md-badge"
               readonly>
    </div>

</div>

<% include ../foot.ejs %>