<% include ../head.ejs %>

<div class="container">

    <h1 class="center"><%- monitor.name %></h1>
    <p class="center"><a href="<%- monitor.url %>" target="_blank"><%- monitor.url %></a></p>

    <div class="form-group">
        <img src="/site/<%- monitor.id %>/badge/uppercent">
        <img src="/site/<%- monitor.id %>/badge/avgresponse">
        <img src="/site/<%- monitor.id %>/badge/status">
    </div>

    <% if(graph && graph.length > 1){ %>
    <div class="graph" id="graph"></div>
    <script src="/components/dygraphs/dygraph-combined.js"></script>
    <script>
        var dateTimeReviver = function (key, value) {
            var a;
            if (typeof value === 'string') {
                a = /\/Date\((\d*)\)\//.exec(value);
                if (a) {
                    return new Date(+a[1]);
                }
            }
            return value;
        }
        var graphData = JSON.parse('<%- JSON.stringify(graph) %>', dateTimeReviver);

        graphData = graphData.map(function (gd) {
            return [new Date(gd[0]), gd[1]];
        })
        new Dygraph(
                document.getElementById("graph"),
                graphData,
                {
                    showRangeSelector: true,
                    labels: ["Date", "ms"],
//                    customBars: true,
//                    title: 'Response Time',
//                    ylabel: 'Response Time (milliseconds)',
//                    xlabel: 'Date',
//                    labelsDivStyles: {'textAlign': 'right'},
                    axisLabelColor: '#FFFFFF',
                    axisLineColor: '#FFFFFF',
                    strokeBorderColor: '#FFFFFF',
                    colors: ['#1ABC9C'],
                    fillGraph: true,
                }
        );


    </script>
    <% } else { %>
    <p>Not enough data has been collected to display a graph, please check back in 5 minutes.</p>
    <% } %>

    <% if(locals.signedInUser && locals.signedInUser.username == monitor.username){ %>
    <div class="form-group pull-right">
        <button class="md-trigger" data-modal="modal-1">Delete</button>
    </div>
    <div class="md-modal" id="delete-modal">
        <div class="md-content">
            <h3>Delete</h3>
            <div>
                <p>Are you sure you wish to delete this Monitor, in doing so you will <strong>Delete</strong> all
                    response info attached to it, this process is not recoverable.</p>
                <form action="/site/<%- monitor.id %>/delete" method="post">
                    <button class="md-close">I am sure, Delete it!</button>
                </form>
            </div>
        </div>
    </div>
    <div class="md-overlay"></div>

    <script src="/components/jquery/dist/jquery.slim.min.js"></script>
    <script>
        $(function () {
            var overlay = $('.md-overlay');
            var modal = $('.md-modal');

            $('.md-trigger').on('click', function () {
                modal.toggleClass('md-show');
                overlay.toggleClass('md-show');
            });

            overlay.on('click', function () {
                if (overlay.hasClass('md-show')) {
                    modal.removeClass('md-show');
                    overlay.removeClass('md-show');
                }
            });

        });
    </script>

    <% } %>

</div>

<% include ../foot.ejs %>