<% include ../head.ejs %>

<div class="container">

    <h1 class="center"><%- monitor.name %></h1>
    <h4 class="center"><a href="<%- monitor.url %>" target="_blank"><%- monitor.url %></a></h4>

    <div class="form-group">
        <img src="/site/<%- monitor.id %>/badge/uppercent">
        <img src="/site/<%- monitor.id %>/badge/avgresponse">
        <img src="/site/<%- monitor.id %>/badge/status">
    </div>

    <% if(graph && graph.length > 1){ %>
    <div class="graph" id="graph"></div>
    <script src="/components/dygraphs/dygraph-combined.js"></script>
    <script>
        var dateTimeReviver = function (key, value) {
            var a;
            if (typeof value === 'string') {
                a = /\/Date\((\d*)\)\//.exec(value);
                if (a) {
                    return new Date(+a[1]);
                }
            }
            return value;
        }
        var graphData = JSON.parse('<%- JSON.stringify(graph) %>', dateTimeReviver);

        graphData = graphData.map(function (gd) {
            return [new Date(gd[0]), gd[1]];
        })
        new Dygraph(
                document.getElementById("graph"),
                graphData,
                {
                    showRangeSelector: true,
                    labels: ["Date", "ms"],
//                    customBars: true,
//                    title: 'Response Time',
//                    ylabel: 'Response Time (milliseconds)',
//                    xlabel: 'Date',
//                    labelsDivStyles: {'textAlign': 'right'},
                    axisLabelColor: '#FFFFFF',
                    axisLineColor: '#FFFFFF',
                    strokeBorderColor: '#FFFFFF',
                    colors: ['#1ABC9C'],
                    fillGraph: true,
                }
        );


    </script>
    <% } else { %>
    <p>Not enough data has been collected to display a graph, please check back in 5 minutes.</p>
    <% } %>

    <div class="form-group">
        <p>Alert emails will go to <%- monitor.email %></p>
    </div>

    <div class="form-group pull-right">
        <button class="md-trigger" data-modal="modal-15">Delete</button>
    </div>

    <% include delete-modal.ejs %>

</div>

<% include ../foot.ejs %>