<% include ../head.ejs %>

<div class="container">

    <h1 class="center"><%- monitor.name %></h1>

    <% if(graph && graph.data.length > 1){ %>
    <div class="graph" id="graph"></div>
    <script src="public/components/dygraphs/dygraph-combined.js"></script>


    <script>

        var graphData = JSON.parse('<%- JSON.stringify(graph) %>');

        new Dygraph(
                document.getElementById("graph"),
                graphData,
                {
                    customBars: true,
                    title: 'Response Time',
                    ylabel: 'Response Time (milliseconds)',
                    legend: 'always',
                    labelsDivStyles: {'textAlign': 'right'},
                    showRangeSelector: true
                }
        );

        //        new Chartist.Line('#graph', {
        //            labels: graphData.labels,
        //            series: [
        //                graphData.data
        //            ]
        //        }, {
        //            low: 0,
        //            showArea: true,
        //            fullWidth: true,
        //            showLabel: false,
        //            axisX: {
        //                showGrid: false,
        //                showLabel: false,
        //                offset: 0
        //            },
        //            axisY: {
        //                showGrid: false,
        //                showLabel: false,
        //                offset: 0
        //            },
        //            plugins: [
        //                Chartist.plugins.tooltip({
        //                    appendToBody: true,
        //                    transformTooltipTextFnc: function (text) {
        //                        return text + 'ms';
        //                    }
        //                })
        //            ]
        //        });


    </script>
    <% } else { %>
    <p>Not enough data has been collected to display a graph, please check back in 5 minutes.</p>
    <% } %>

    <div class="form-group">
        <p>Alert emails will go to <%- monitor.email %></p>
    </div>

    <div class="form-group">
        <img src="/site/<%- monitor.id %>/badge/uppercent">
        <img src="/site/<%- monitor.id %>/badge/avgresponse">
        <img src="/site/<%- monitor.id %>/badge/status">
    </div>

</div>

<% include ../foot.ejs %>