<% include ../head %>
<div class="block">
    <div class="container">


        <h2><%- monitor.name %></h2>

        <h3><%- monitor.url %></h3>

        <h3>every <%- monitor.rate %> mins</h3>

        <!--<h3>Current Status</h3>-->

        <!--<h3 class="green"><b>UP</b></h3>-->

        <div class="ct-chart" data-monitor="<%- monitor._id %>" data-mcount="20"></div>

        <% if(events.length > 0){ %>

        <h2>Events</h2>


        <table class="table">
            <caption>Ups and Downs.</caption>
            <thead>
            <tr>
                <th>Type</th>
                <th>Time</th>
            </tr>
            </thead>
            <tbody>

            <% events.forEach(function(event) { %>

            <tr>
                <td><%- event.getType() %></td>
                <td class="format-time"><%- event.time %></td>
            </tr>
            <% }); %>
            </tbody>
        </table>

        <% } %>

        <form action="/monitors/<%- monitor._id %>/addEmail" method="post">
            <div class="form-group">
                <label for="addEmail">Add email address for notifications</label>
                <input class="form-control" type="email" id="addEmail" name="addEmail">
                <button type="submit" class="btn btn-default">Add</button>
            </div>
        </form>

        <a href="/monitors/<%- monitor._id %>/delete " class="btn btn-danger">Delete</a>
    </div>
</div>

<% include ../foot %>