<% include ../head %>
<div class="block">
    <div class="container">

        <h2><%- monitor.name %></h2>

        <h3><%- monitor.url %></h3>

        <h3><%- monitor.rate %></h3>

        <div class="ct-chart" data-monitor="<%- monitor._id %>" data-mcount="20"></div>

        <a href="/monitors/<%- monitor._id %>/delete " class="btn btn-danger">Delete</a>
    </div>
</div>

<% include ../foot %>